.choice{
    display: flex;
    align-items: center;
    border: 2px dotted gray;
    height:  250px;
    width: 800px;
    margin: 40px auto;
    visibility: hidden;
}
.card{
    border: 3px solid black;
    height: 95%;
    width:150px;
    margin-left: 4px;
    text-align: center;
}
img{
    height: 80%;
    border: 1px solid black;
    margin-top: 3px;
}