.choice{
    display: flex;
    align-items: center;
    border: 2px dotted gray;
    height:  300px;
    width: 900px;
    margin: 40px auto;
    visibility: hidden;
}
.card{
    border: 3px solid black;
    height: 92%;
    width:150px;
    margin-left: 10px;
    text-align: center;
    background-color: white;
}
img{
    height: 40%;
    border: 1px solid black;
    margin-top: 0;
}
.card:hover{
    transform:scale(1.1);
}
.hand{
    display: flex;
    align-items: center;
    border: 2px dotted gray;
    height:  300px;
    width: 900px;
    margin: 40px auto;
}
.info{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    height: 33%;
}
.hp{
    border-bottom: 3px solid black;
    margin-bottom: 3px;
    margin-top: 0;
}